<h2>hola soy la pagina de novedades</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptas ipsum blanditiis cumque doloribus dolores quis nesciunt doloremque nam id sequi neque soluta, tenetur quo saepe odit nobis illum numquam?</p>
